body {
font-family: Arial, sans-serif;
text-align: center;
background-image: url('auto.jpg'); /* Utilisation d'un chemin d'accès relatif /
background-size: cover;
background-color: rgba(0, 0, 0, 0.2);
color: #fff;
padding: 20px;
position: relative; / Ajout de la propriété position pour utiliser z-index /
z-index: -1; / Définition de z-index sur -1 pour afficher le fond en arrière-plan */
}

img {
max-width: 100%;
height: auto;
position: relative;
top: 20px;
left: 20px;
z-index: 1; /* Définition de z-index sur 1 pour afficher les images en avant */
}
